@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  background-color: rgb(242, 242, 242, 1);
  margin: 0;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
  min-height: 64px;
  margin-bottom: 0px;
}

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 238px;
  padding-right: 81px;
  min-height: 64px;
}

.logo-link {
  position: absolute;
  top: 0;
  left: 70px;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}
.nav-link:hover::after {
  content: "";
  position: absolute;
  right: 16px;
  left: 16px;
  bottom: -1px;
  height: 2px;
  background-color: #756257;
}

.nav-link:hover,
.nav-link:focus {
  color: #756157;
}

.nav-link::active {
  color: rgba(117, 97, 87, 0.3);
}

.user-menu {
  padding: 12px 19px 13px 0px;
  margin: 0 50px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 268px;
  gap: 4px;
  justify-content: flex-end;
}

.user-link {
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  justify-items: flex-start;
  width: 36px;
  height: 36px;
  background-position: center;
  background-repeat: no-repeat;
}

.user-link-search {
  margin-right: 5px;
}

.user-link-favourite {
  position: relative;
  margin-right: 101px;
}

.user-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.fav-count {
  background-color: #7db54f;
  color: #ffffff;
  border-radius: 10px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  padding: 5px 3px 0;
  display: block;
  min-width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;
}

.user-item {
}

.button-login {
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0 -80px;
  padding: 8px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #756157;
  min-width: 160px;
  height: 36px;
  text-decoration: none;
  border-radius: 4px;
}

.button-login:hover,
.button-login:focus {
  background: #615048;
}

.button-login:active {
  background: rgba(255, 255, 255, 0.3);
}

.main-index {
}

.welcome {
  background-color: #b3ece3;
  background-image:
    url("../images/divider.svg"), url("../images/welcome-background.jpg");
  background-size:
    1200px auto,
    cover;
  background-repeat: no-repeat;
  background-position:
    left bottom,
    center top;
  padding-top: 51px;
  padding-bottom: 82px;
  min-height: 352px;
  margin-top: 0;
}

.welcome-logo {
  display: block;
  margin: 0 auto 0 auto;
}

/*.slogan {
  background-color: rgb(224, 245, 242);
  margin-bottom: 21px;
  padding: 69px 290px 120px 290px;
  text-align: center;
}*/

.advantages {
  padding: 69px 0 0 0;
}

.welcome-slogan {
  margin: 0 auto 25px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  width: 702px;
}

.slogan-description {
  padding: 0;
  margin: 0 auto 90px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 700px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-list li {
  display: flex;
  min-height: 385px;
}

.advantage-with-image {
  background-color: #82b3d3;
  color: #ffffff;
  width: 100%;
}

.advantage-with-image .advantage-wrapper {
  width: 400px;
  padding: 32px 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantage-without-image .advantage-wrapper {
  display: flex;
  width: 400px;
  padding: 32px 85px;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
}

.advantage-title {
  margin: 0;
  padding-bottom: 30px;
  align-self: center;
  padding: 0 auto;
  font-size: 24px;
  font: weight 700;
  line-height: 28px;
  width: 175px;
  text-transform: uppercase;
  color: #000000;
  align-content: center;
}

.advantage-description {
  margin: 0;
  text-align: center;
  position: relative;
}

.advantage-with-image .advantage-description {
  margin: 0;
  color: #ffffff;
}

.advantage-without-image .advantage-description {
  margin: 0;
  color: #333333;
}

.advantage-with-image .advantage-title {
  padding: 0 0 60px 0;
  text-align: center;
  color: #ffffff;
  max-width: 180px;
  text-wrap: balance;
}

.advantage-without-image .advantage-title {
  margin: 0 0 0px 0;
  text-align: center;
  color: #333333;
  padding: 0px 0px 29px 0px;
}

.advantage-description::before {
  content: "";
  position: absolute;
  height: 2px;
  left: 85px;
  right: 86px;
  top: -31px;
}
.advantage-with-image .advantage-description::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantage-without-image .advantage-description::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantage-without-image:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-without-image:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-image {
  display: block;
  margin: auto 0;
}

.service-users {
  text-align: center;
}

.service-users-title {
  width: 505px;
  margin: 0 auto;
  padding: 64px 0 20px 0;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.service-users-description {
  margin: 0 auto;
  padding: 0 0 64px 0;
  width: 490px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  background: rgba(131, 179, 211, 0.12);
  padding: 185px 81px 65px;
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  background-repeat: no-repeat;
  background-position: center 82px;
}

.service-item:nth-child(2n) {
  background-color: #ffffff;
}

.service-item-house {
  background-image: url("../images/house.svg");
  background-size: 75px 72px;
}

.service-item-food {
  background-image: url("../images/food.svg");
  background-size: 74px 70px;
}

.service-item-presents {
  background-image: url("../images/presents.svg");
  background-size: 64px 76px;
}

.service-title {
  margin: 0 0 23px;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.service-description {
  margin: 0 0 0 0;
  padding: 0;
  width: 230px;
}

.hotel-search {
  margin: 0;
  padding: 96px 305px 96px 304px;
  text-align: center;
  background-color: #ffffff;
}

.hotel-search-title {
  margin: 0 0 20px 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.hotel-search-description {
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 54px 0;
}

.button-search {
  display: inline-block;
  min-width: 376px;
  max-width: 500px;
  background-color: #756157;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding: 8px 10px 9px;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-search:hover,
.button-search:focus {
  background: rgba(97, 80, 72, 1);
}

.button-search:active {
  background: rgba(255, 255, 255, 0.3);
}

.subscription {
  padding: 141px 258px 104px 258px;
  margin: 0;
  color: #000000;
  text-align: center;
}

.index .subscription {
  color: #ffffff;
  background-color: rgb(126, 199, 233);
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 54px 91px;
  width: 500px;
}

.subscription-form {
  display: flex;
}

.subscription-field {
  width: 452px;
  height: 52px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
  border: none;
  background-color: #f2f2f2;
  padding-left: 20px;
  outline: none;
}
.subscription-field::placeholder {
  font-weight: 400;
  opacity: 0;
  color: rgba(0, 0, 0, 0.6);
}

.subscription-field:focus::placeholder {
  opacity: 1;
}

.subscription-field:hover {
  background-color: #e6e6e6;
}
.subscription-field:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
}

.subscription-field:disabled,
.subscription-field:disabled + .subscription-label {
  opacity: 0.5;
  pointer-events: none;
}
.button-subscription {
  width: 232px;
  height: 52px;
  background-color: rgba(130, 179, 211, 1);
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-style: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  border: none;
}

.button-subscription:hover,
.button-subscription:focus {
  cursor: pointer;
  background: rgba(104, 162, 202, 1);
}

.button-subscription:active {
  background: rgba(130, 179, 211, 1);
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 43px 70px 30px 64px;
}

.footer-contacts {
}

.footer-contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 150px;
  max-width: 150px;
}

.footer-contacts-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 48px;
}

.social-icon {
  fill: rgba(131, 179, 211, 1);
}

.social-icon:hover,
.footer-contacts-link:hover,
.social-icon:focus .footer-contacts-link:focus {
  fill: rgba(104, 162, 202, 1);
}

.social-icon:active,
.footer-contacts-link:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  justify-self: center;
  max-width: 650px;
}

.footer-phone:hover,
.footer-phone:focus {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  color: #000000;
}

.htmlacademy-link:hover,
.htmlacademy-link:focus,
.logo-icon:hover,
.logo-icon:focus {
  color: rgba(117, 97, 87, 1);
}

.htmlacademy-link:active,
.logo-icon:active {
  color: rgba(117, 97, 87, 0.3);
}

.catalogue-header {
  padding-inline: 70px;
  padding: 35px 70px 24px 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #a1a0a0;
  color: #ffffff;
  background-image: url("../images/catalogue/blurred-mountains.jpg");
}

.filter-title {
  margin: 0 0 0 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-navigation {
  margin: 0 0 40px 0;
}

.breadcrumbs {
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 8px 2px 0 4px;
}

.breadcrumbs-link-home {
  background-image: url(../images/catalogue/icon-home.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 13px;
  height: 15px;
  margin: 10px 5px 0 0;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 20px;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 21px;
  right: -12px;
  bottom: 0;
  background-image: url("../images/catalogue/breadcrumbs.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

/*filters*/

fieldset {
  border: none;
}

.hotel-filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 69px;
  align-items: start;
  color: #ffffff;
}

.infrastructure-filter {
  max-width: 150px;
  margin: 0;
  padding: 0;
  border: none;
}

.accommodation-filter {
  margin: -1;
  padding: 0;
  padding-right: 78px;
  padding-top: 0px;
}

.catalogue-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalogue-filter-item {
  margin-bottom: 16px;
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.catalogue-filter-item:last-child {
  margin-bottom: 0;
}

.catalogue-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
  padding: 0 0 32px 0;
  text-align: left;
}

.filter-label {
  display: inline-block;
  padding: 0 0 0 36px;
  position: relative;
  line-height: 23px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
}
.filter-label::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 4px;
}
.filter-label::after {
  content: "";
  width: 10px;
  height: 6px;
  position: absolute;
  border-left: 1px solid #3f5e72;
  border-bottom: 1px solid #3f5e72;
  transform: rotate(-45deg);
  top: 7px;
  left: 5px;
  display: none;
}
/*
.filter-input-checkbox:checked + .filter-label::after {
  display: block;
}
  */
.filter-input-checkbox:checked + .filter-label::after {
  display: block;
}
.filter-label-radio {
  display: inline-block;
  padding: 0 0 0 36px;
  position: relative;
  line-height: 23px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
}
.filter-label-radio::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 50%;
}
.filter-label-radio::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  background: #3f5e72;
  top: 5px;
  left: 5px;
  display: none;
}
.filter-input-radio:checked + .filter-label-radio::after {
  display: block;
}
.filter-input-checkbox:hover,
.filter-input-radio:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.filter-input-checkbox:hover + .filter-label,
.filter-input-radio:hover + .filter-label-radio {
  color: rgba(255, 255, 255, 0.6);
}

.filter-input-checkbox:focus,
.filter-input-radio:focus {
  background-color: #ffffff;
  border: 3px solid #83b3d3;
}

.filter-input-checkbox:focus + .filter-label,
.filter-input-radio:focus + .filter-label-radio {
  color: #ffffff;
}

.filter-input-checkbox:active,
.filter-input-radio:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.filter-input-checkbox:active + .filter-label,
.filter-input-radio:active + .filter-label-radio {
  color: rgba(255, 255, 255, 0.3);
}

/* price filter*/

.price-filter {
  display: flex;
  margin: 0;
  padding: 0 0 10px 0;
}

.range-wrapper {
  display: grid;
  column-gap: 2px;
  row-gap: 44px;
  padding: 0;
  margin-top: -12px;
  margin-left: -2px;
  margin-right: 73px;
  grid-template-rows: 60px 48px;
  grid-template-columns: 143px 143px;
  grid-template-areas:
    "min-price-label max-price-label"
    "range-scale range-scale";
}

.min-price-label {
  grid-row: 1;
  grid-column: 1;
  grid-area: min-price-label;
  position: relative;
  padding-top: 12px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: -1px;
  width: 100%;
}

.min-price-input {
  background-color: #f2f2f2;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  padding-left: 21px;
  color: #000000;
  border: none;
  height: 48px;
  width: 143px;
  border-radius: 4px 0px 0px 4px;
}
.min-price-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.min-price-input:hover {
  background-color: #e6e6e6;
}
.min-price-input:focus {
  background-color: #e6e6e6;
  outline: none;
  border: 3px solid #83b3d3;
}

.min-price-input:disabled {
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.5;
  pointer-events: none;
}
.price-label-title {
  position: absolute;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  top: 25px;
  right: 18px;
}

.max-price-label {
  grid-row: 1;
  grid-column: 3;
  grid-area: max-price-label;
  position: relative;
  padding-top: 12px;
  padding-bottom: 0px;
  padding-left: 2px;
  padding-right: 0px;
  width: 100%;
}

.max-price-input {
  background-color: #f2f2f2;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  padding-left: 21px;
  color: #000000;
  border: none;
  height: 48px;
  width: 143px;
  border-radius: 0px 4px 4px 0px;
}
.max-price-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.max-price-input:hover {
  background-color: #e6e6e6;
}
.max-price-input:focus {
  background-color: #e6e6e6;
  outline: none;
  border: 3px solid #83b3d3;
}

.max-price-input:disabled {
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.5;
  pointer-events: none;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.range-line {
  position: absolute;
  height: 4px;
  left: 0;
  width: 215px;
  background-color: #ffffff;
  border-radius: 2px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-min {
  top: -8px;
  left: 4px;
}

.range-max {
  top: -8px;
  right: -16px;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 3px solid #83b3d3;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  width: 191px;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.apply-button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  padding: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  background-color: #82b3d3;
  width: 100%;
}

.apply-button:hover,
.apply-button:focus {
  background-color: #68a2ca;
}

.apply-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.reset-button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  padding: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  background-color: #00000000;
  width: 100%;
}

.reset-button:hover {
  opacity: 0.6;
}

.reset-button:focus {
  outline: 3px solid #83b3d3;
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-results {
  margin: 12px auto 40px auto;
  width: 1060px;
  padding: 0;
}

.hotels-found {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-results-title {
  margin: 0;
  padding: 44px 0 46px 0;
  max-width: 500px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  justify-content: space-between;
}

.sorting-hotels {
  display: flex;
  width: 522px;
  justify-content: space-between;
  align-items: center;
}

.search-select {
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  width: 292px;
  margin-right: 70px;
  border-radius: 4px;
  padding: 12px 70px 14px 20px;
  align-self: flex-start;
  cursor: pointer;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-image: url("../images/catalogue/checked-down.svg");
  background-position: center right 18px;
  background-repeat: no-repeat;
  appearance: none;
}

.search-select:hover,
.search-select:focus {
  border: 2px solid #68a2ca;
}

.search-select:active {
  color: rgba(255, 255, 255, 0.3);
  border: 2px solid #68a2ca;
}
.search-select:disabled {
  background: #0000004d;
  border: 2px solid #0000004d;
}

.view-buttons-list {
  margin: 0;
  padding: 0 0 5px 0;
  list-style-type: none;
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.view-link {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  background-size: 16px 14px;
  background-position: center;
  background-repeat: no-repeat;
}

.view-link:hover {
  border-color: #000000;
}

.view-link:focus {
  outline: none;
  border: 2px solid #68a2ca;
}

.view-link:active {
  border-color: #000000;
}

.view-link-current {
  border: 2px solid #000000;
}

.view-link-tile {
  background-image: url("../images/catalogue/View-icon.svg");
}

.view-link-cards {
  background-image: url("../images/catalogue/icon-slider.svg");
}

.view-link-list {
  background-image: url("../images/catalogue/icon-list.svg");
}

.accommodation-list {
  margin: 0 auto 38px auto;
  width: 1060px;
  padding: 2px 0 0 0;
  list-style: none;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 340px);
}

.accommodation-card {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 19px;
  display: grid;
  column-gap: 20px;
  row-gap: 16px;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: auto 1fr repeat(3, auto);
  width: 340px;
  box-sizing: border-box;
}

.accommodation-link {
  grid-column: 1/-1;
  color: #000000;
  text-decoration: none;
}
/*
.accommodation-link-content {
  display: block;
} */
.accommodation-link:hover,
.accommodation-link:focus {
  opacity: 0.8;
}

.accommodation-link:active {
  opacity: 0.6;
}

.accommodation-photo {
  display: block;
  margin-bottom: 16px;
}

.accommodation-title {
  grid-template-columns: 1/-1;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-align: left;
  margin: 0;
}

.accommodation-type {
  color: #333333;
  margin: 0;
  align-self: flex-start;
}

.accommodation-price {
  text-align: right;
  color: #333333;
  margin: 0;
}

.button-details {
  align-self: flex-start;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  padding: 8px 0;
  background-color: #756157;
  width: 140px;
  min-height: 36px;
}

.button-details:hover,
.button-details:focus {
  background: #615048;
}

.button-details:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-favourites {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  color: #ffffff;
  background-color: #82b3d3;
  font-weight: 700;
  min-width: 140px;
  min-height: 36px;
  border: none;
}

.add-to-favourites {
  background-color: #82b3d3;
  align-self: flex-start;
}

.add-to-favourites:hover,
.add-to-favourites:focus {
  background-color: #68a2ca;
}

.add-to-favourites:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-added {
  font-family: "PT Sans", sans-serif;
  background-color: #7db54f;
  align-self: flex-start;
}

.button-added:hover,
.button-added:focus {
  background-color: #6c9e42;
}

.button-added:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.stars {
  min-height: 37px;
  margin: 0;
  align-self: flex-start;
}

.star {
  display: inline;
  background-size: 18px 17px;
  background-repeat: no-repeat;
}

.stars-4 {
  background-image:
    url("../images/catalogue/star.svg"), url("../images/catalogue/star.svg"),
    url("../images/catalogue/star.svg"), url("../images/catalogue/star.svg");
  background-position:
    0 center,
    24px center,
    48px center,
    72px center;
}

.stars-3 {
  background-image:
    url("../images/catalogue/star.svg"), url("../images/catalogue/star.svg"),
    url("../images/catalogue/star.svg");
  background-position:
    0 center,
    24px center,
    48px center;
}

.stars-2 {
  background-image:
    url("../images/catalogue/star.svg"), url("../images/catalogue/star.svg");
  background-position:
    0 center,
    24px center;
}

.rating-value {
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  border-radius: 4px;
  padding: 8px;
}

.paginator {
  margin: 0;
}

.pagination-list {
  text-align: center;
  padding-left: 69px;
  padding-top: 38px;
  border-top: 1px solid #e6e6e6;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-item {
}

.pagination-link {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  min-width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 8px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
  outline: none;
  pointer-events: none;
}

.pagination-ellipsis {
  font-size: 22px;
  line-height: 26px;
  display: flex;
  min-width: 60px;
  min-height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(242, 242, 242, 0.8);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal-closed {
  display: none;
}

.modal-wrapper {
  width: 717px;
  min-height: 576px;
  box-sizing: border-box;
  padding: 64px 70px;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  position: relative;
}

.modal-close-button {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background: #f2f2f2;
  border: none;
  position: absolute;
  right: 52px;
  top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal-close-button::before {
  position: absolute;
  top: 19px;
  right: 18px;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../images/modal/Cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

.modal-close-button:active::before {
  opacity: 0.3;
}
.modal-close-button:hover {
  background-color: #e5e5e5;
}

.modal-close-button:focus {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e5e5e5;
  outline: none;
}

.modal-close-button:active::before {
  opacity: 0.3;
}
.modal-close-button:disabled::before {
  opacity: 0.3;
}
.modal-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 64px 0;
  padding-right: 164px;
  color: #000000;
}

.modal-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 88px;
}

.field-dates {
  position: relative;
  display: grid;
  grid-template-columns: 127px 1fr;
  grid-template-rows: auto 1fr;
  grid-column: 1 / -1;
  column-gap: 10px;
  margin: 0;
  padding: 0;
  border: none;
}

.check-in-label {
  grid-row: 1 / -1;
  margin-top: 12px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.check-in-input {
  position: relative;
  color: #000000;
  margin-bottom: 4px;
  padding-inline: 20px 60px;
  padding-block: 12px;
  align-self: start;
  font-size: 18px;
  font-weight: 700;
  font-family: inherit;
  line-height: 24px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}
.check-in-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.check-in-input:hover,
.check-in-input:focus-visible {
  background-color: #e6e6e6;
}
.check-in-input:active {
  border: 3px solid #83b3d3;
}
.check-in-input:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.calendar-check-in {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 48px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  background-image: url("../images/modal/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.wrong-date {
  grid-column: 2;
  padding-left: 20px;
  font-size: 16px;
  line-height: 21px;
  color: #ff5757;
}

.check-out-label {
  grid-row: 1 / -1;
  margin-top: 12px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.check-out-input {
  position: relative;
  color: #000000;
  margin-bottom: 4px;
  padding-inline: 20px 60px;
  padding-block: 12px;
  align-self: start;
  font-size: 18px;
  font-weight: 700;
  font-family: inherit;
  line-height: 24px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.check-out-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.check-out-input:hover,
.check-out-input:focus-visible {
  background-color: #e6e6e6;
}

.check-out-input:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.calendar-check-out {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 48px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  background-image: url("../images/modal/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(209, 31, 31, 0.3);
  cursor: pointer;
}

.right-date {
  grid-column: 2;
  padding-left: 20px;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.persons-count {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.adults-label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  align-self: center;
}

.persons-count-wrapper {
  display: flex;
  align-self: start;
}

.persons-count-input {
  position: relative;
  z-index: 1;
  width: 31px;
  padding: 14px 5px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}
.persons-count-input:hover,
.persons-count-input:focus-visible {
  background-color: #e6e6e6;
}

.persons-count-input:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.minus-button {
  display: flex;
  width: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  border: none;
  outline-offset: -1px;
  background-color: rgb(242, 242, 242);
  border-radius: 4px 0 0 4px;
}
.minus-button::before {
  content: "";
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  background-image: url("../images/modal/Minus.svg");
  background-size: 14px;
}
.minus-button:hover::before {
  opacity: 1;
}
.minus-button:focus::before {
  opacity: 1;
  border: 3px solid #83b3d3;
}

.minus-button:active::before {
  opacity: 0.2;
}
.minus-button:disabled::before {
  opacity: 0.5;
  pointer-events: none;
}
.plus-button {
  display: flex;
  width: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  border: none;
  outline-offset: -1px;
  background-color: #f2f2f2;
  border-radius: 0 4px 4px 0;
}
.plus-button::before {
  content: "";
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  background-image: url("../images/modal/Plus.svg");
  background-size: 14px;
  opacity: 0.3;
}
.plus-button:hover::before {
  opacity: 1;
}
.plus-button:focus::before {
  opacity: 1;
  border: 3px solid #83b3d3;
}

.plus-button:active::before {
  opacity: 0.2;
}
.plus-button:disabled::before {
  opacity: 0.5;
  pointer-events: none;
}
.tooltip {
  position: relative;
  width: 26px;
  height: 26px;
  margin-right: auto;
  align-self: center;
}

.tooltip-button {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #83b3d3;
  background-image: url("../images/modal/info.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2px 12px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip-text {
  display: none;
  position: absolute;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  width: 256px;
  margin-top: 14px;
  padding: 15px 18px 18px 22px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.3);
}

.children-label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  align-self: center;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;
  width: 19px;
  height: 9px;
  margin-inline: auto;
  background-image: url("../images/modal/triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.tooltip-button:hover + .tooltip-text,
.tooltip-button:focus-visible + .tooltip-text {
  display: block;
}
.modal-submit-button {
  grid-column: 1 / -1;
  margin-top: 25px;
  padding: 18px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #82b3d3;
  color: #ffffff;
  cursor: pointer;
}
.modal-submit-button:hover,
.modal-submit-button:focus {
  cursor: pointer;
  background: #68a2ca;
  border: 3px solid #83b3d3;
}
.modal-submit-button:active {
  cursor: pointer;
  background: #82b3d3;
}
.modal-submit-button:disabled {
  background: #e5e5e5;
}
